*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.gradle/6.5/executionHistory/executionHistory.bin
.gradle/6.5/executionHistory/executionHistory.lock
.gradle/6.5/fileHashes/fileHashes.bin
.gradle/6.5/fileHashes/fileHashes.lock
.gradle/6.5/fileHashes/resourceHashesCache.bin
.gradle/6.5/javaCompile/classAnalysis.bin
.gradle/6.5/javaCompile/jarAnalysis.bin
.gradle/6.5/javaCompile/javaCompile.lock
.gradle/6.5/javaCompile/taskHistory.bin
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.idea/caches/build_file_checksums.ser
.idea/workspace.xml
app/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.example.pokearth-binding_classes.json
app/build/intermediates/dex/debug/mergeDexDebug/classes.dex
app/build/intermediates/dex_archive_input_jar_hashes/debug/out
app/build/intermediates/dex_number_of_buckets_file/debug/out
app/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
app/build/intermediates/incremental/debug-mergeJavaRes/merge-state
app/build/intermediates/incremental/debug-mergeNativeLibs/merge-state
app/build/intermediates/incremental/mergeDebugAssets/merger.xml
app/build/intermediates/incremental/mergeDebugJniLibFolders/merger.xml
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merger.xml
app/build/intermediates/incremental/mergeDebugShaders/merger.xml
